@import "https://vinbolib.netlify.app/index.css";
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");

:root {
  --primary-color: purple;
  --secondary-color: #ffb20a;
}
body {
  margin: auto;
  padding: 0;
  /* width: 100%; */
}
.bodyDark {
  background-color: #333333;
  color: white;
}
.bodyLite {
  background-color: white;
  margin: 0;
  width: 100%;
}

/* FOR HEADER COMPONENTS */

header,
footer {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}
footer {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 9999;
  margin: 0;
}
h1 {
  text-align: center;
}

/*BOT CHAT*/

.chat-bubble {
  position: fixed;
  bottom: 23rem;
  right: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 999999;
  background-color: lightgray;
  border-radius: 50%;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 2.75;
  stroke-linecap: round;
  transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 90;
  stroke-dashoffset: -20;
}
.line2 {
  stroke-dasharray: 67 87;
  stroke-dashoffset: -18;
}
.circle {
  fill: #000;
  stroke: none;
  transform-origin: 50%;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circle1 {
  animation: MoveUpDown 1s linear infinite;
}
.circle2 {
  animation: MoveUpDown1 1s linear infinite;
}
.circle3 {
  animation: MoveUpDown2 1s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  90% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes MoveUpDown1 {
  0%,
  90% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes MoveUpDown2 {
  0%,
  90% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* TOODLES OVER IMAGE*/

.container {
  position: absolute;
  z-index: 999;
  right: 35%;
  top: 112%;
  transform: translate(-50%, -50%);
  display: flex;
}

.dash {
  margin: 0 15px;
  width: 40px;
  height: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 #fecdff;
}

.one {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
  background: lightgoldenrodyellow;
}

.two {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
  background: yellow;
}

.three {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
  background: orange;
}

.four {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
  background: orangered;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* CHAT BOT CHAT MENU*/
.bi.bi-chat-dots,
.chatBot,
.chatBox,
.chatFooter {
  position: fixed;
  bottom: 15rem;
  right: 5rem;
  z-index: 999;
  width: 100px;
  height: 100px;
}
.chatFooter {
  bottom: 0rem;
  right: 23rem;
  color: white;
  width: 10rem;
}

.chatBot {
  right: 14rem;
  bottom: 17rem;
  height: 1.5rem;
  width: 25rem;
  border-radius: 1rem;
  outline: none;
  background-color: lightgray;
}
.chatBox {
  background-color: #333333;
  border: 1px solid black;
  bottom: 2rem;
  right: 12rem;
  height: 20rem;
  width: 30rem;
  border-radius: 2rem;
}
.chatOuput {
  color: white;
  position: relative;
  top: 7rem;
  left: 3rem;
  width: 25rem;
}

.name,
.nameFooter {
  position: fixed;
  left: 4.5rem;
  top: 1rem;
  color: var(--primary-color);
  font-family: "Sacramento", sans-serif;
  font-size: 2rem;
}
.nameFooter {
  text-align: center;
}

.symbol {
  border: none;
  width: 5rem;
}

.searchBar {
  height: 2.5rem;
  width: 3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
  position: fixed;
  left: 18.45rem;
  top: 1.47rem;
}

.search {
  position: fixed;
  left: 21.5rem;
  top: 1.4rem;
  height: 2.5rem;
  width: 733px;
  outline: none;
}

.bi.bi-search {
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  outline: none;
  position: fixed;
  left: 67.25rem;
  top: 1.47rem;
}

.bi.bi-cart3 {
  height: 3rem;
  width: 3rem;
  position: fixed;
  z-index: 9999;
  right: 5rem;
  top: 1.3rem;
}
.wishList {
  position: fixed;
  z-index: 9999;
  height: 3.4rem;
  width: 3.5rem;
  right: 8.5rem;
  top: 1.8rem;
}

/* SIDE NAV FOR ROUTING ACROSS PAGES*/

.homeOptions {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: white 2px solid;
  border-radius: 50%;
  font-size: 1.7rem;
  z-index: 9999999;
}
.optionSet {
  display: block;
  opacity: 0.85;
  position: fixed;
  height: 100%;
  margin: 0;
  top: 0rem;
  right: 0rem;
  z-index: 999999;
  background-color: #333333;
  color: white;
  justify-items: center;
}
.optionSetNone {
  display: none;
}

.optionSet.pills {
  list-style: none;
  position: relative;
  height: 1rem;
  margin: 4rem;
  opacity: 1;
}
.optionSet.pills:hover {
  background-color: #000;
  padding: 0.7rem;
  border: 1px solid white;
}
.cartTotalQuantity {
  position: fixed;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.7em;
  color: white;
  z-index: 99999;
  right: 6rem;
  top: 1rem;
  background-color: darkorange;
  border: 2px solid white;
  border-radius: 50%;
}

/* HOME page images */
.Img {
  position: relative;
  display: block;
  top: 8.5rem;
  width: 100%;
  height: 45rem;
  border: 3px solid black;
  margin-left: 0.15rem;
}
.Img:hover {
  opacity: 0.85;
  width: 99.5%;
  border: 3px solid var(--secondary-color);
}
.filters {
  position: relative;
  top: 10rem;
}

/*MAIN NAVIGATION BAR */
.dropdownIcon,
.dropdownIconResponsive {
  display: none;
}

.navigation {
  display: block;
  background-color: #333333;
  color: white;
  margin: 0;
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 5rem;
  overflow: hidden;
}
.subNavIcon {
  position: relative;
  top: 0.2rem;
  left: 0.5rem;
}

.navigationPills,
.navigationPillsResponsive {
  display: inline;
  padding: 1rem;
}
.navigationPills:hover,
.subNavPills:hover {
  background-color: black;
  border: 1px solid white;
  padding: 0.5rem;
}

.subNav {
  background-color: #333333;
  color: white;
  margin: 0;
  position: fixed;
  top: 8.2rem;
  z-index: 9999;
  width: 100%;
  opacity: 0.85;
}
.subNavPills {
  list-style: none;
  padding: 1rem;
  width: 100%;
  z-index: inherit;
}

/* DARK MODE SWICTHES */

.outerSwitch {
  height: 1.6rem;
  width: 3.5rem;
  border-radius: 2rem;
  color: grey;
  outline: none;
  position: fixed;
  top: 5.7rem;
  right: 5rem;
  z-index: 99999;
}

.innerSwitch {
  height: 1rem;
  width: 1rem;
  background: black;
  border-radius: 2.4rem;
  outline: none;
}

/* PRODUCTS LISTING AT HOME */
.productList {
  position: relative;
  top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.list.list-group-item {
  border: none;
}
.productsHead {
  position: relative;
  top: 10rem;
}

.emptyHeart,
.filledHeart {
  height: 4rem;
  width: 4rem;
  fill: var(--primary-color);
  position: relative;
  top: 2rem;
  left: 5rem;
}

.f-assured {
  border: none;
  width: 5rem;
}
/* CART PAGE */
.cartCheckOut {
  border: #333333 1px solid;
  position: relative;
  top: 10rem;
  right: 5rem;
  float: right;
  display: block;
  margin: 0rem;
  margin-bottom: 5rem;
  padding: 1rem;
  width: 15rem;
}
.cartDetails {
  border: #333333 1px solid;
  position: relative;
  top: 10rem;
  left: 5rem;
  display: block;
  margin: 0rem;
  margin-bottom: 15rem;
  padding: 1rem;
  width: 50rem;
}
.cartProduct {
  border: 1px solid lightgray;
  padding: 2rem;
  display: flex;
}
.cartImg {
  border: none;
  width: 10rem;
  height: 13rem;
}
.cartProductDetails {
  border: 1px solid lightgray;
  padding: 1rem;
  width: 30rem;
  height: 11rem;
  margin-left: 3rem;
}
.bi.bi-trash {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  background-color: coral;
  outline: none;
  border: coral;
  border-radius: 0.4rem;
  position: relative;
  bottom: 6rem;
  left: 20rem;
}
/* BOOK BATCHES*/
.bookBatches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

.bookBatchPills {
  border: none;
}

.img-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/* FEATURED AUTHORS */
.list.list-group-item {
  margin: auto;
}
/* FOOTER*/

.footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
}
.aboutUs {
  position: relative;
  left: 3rem;
}
.aboutUsList,
.appItems {
  list-style: none;
}

.desktop-androidDownLink {
  width: 13rem;
  height: 4rem;
  border: none;
  margin: 0;
}
.keepInTouch {
  position: relative;
  left: 8rem;
}
.bi-twitter,
.bi-linkedin,
.bi-github {
  margin: 1rem 1rem;
}
.fastDelivery,
.return,
.original {
  border: none;
  width: 3rem;
}
.fast {
  position: relative;
  bottom: -8rem;
  left: 20rem;
}
.returnBlock {
  position: relative;
  bottom: 0rem;
  left: 20rem;
}

.originalBlock {
  position: relative;
  bottom: 8rem;
  left: 20rem;
}
.spanTxt {
  position: relative;
  bottom: 1rem;
  left: 1rem;
}

/* MPDI SCREENS */
@media (max-width: 1280px) {
  .Img {
    width: 100%;
    top: 5.6rem;
  }
  .container {
    display: none;
  }
  .searchBar {
    position: fixed;
    left: 15rem;
    top: 1.4rem;
  }
  .search {
    position: fixed;
    left: 18rem;
    top: 1.4rem;
    width: 400px;
  }
  .navigation {
    top: 5rem;
  }
  .bi.bi-search {
    position: fixed;
    left: 688px;
    top: 1.4rem;
  }
  .productList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bookBatches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .bookBatchPills {
    width: 80%;
    margin: auto;
  }

  .img-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .desktop-androidDownLink {
    width: 6rem;
    height: 2rem;
    border: none;
    margin: 0;
  }
  .keepInTouch {
    position: relative;
    left: 3rem;
  }
  .bi-twitter,
  .bi-linkedin,
  .bi-github {
    margin: 1rem 0.7rem;
  }
  .fastDelivery,
  .return,
  .original {
    border: none;
    width: 3rem;
  }
  .fast {
    position: relative;
    bottom: -8rem;
    left: 8rem;
  }
  .returnBlock {
    position: relative;
    bottom: 0rem;
    left: 8rem;
  }

  .originalBlock {
    position: relative;
    bottom: 8rem;
    left: 8rem;
  }
  .spanTxt {
    position: relative;
    bottom: 1rem;
    left: 1rem;
  }
  .badges {
    display: none;
  }
}
/*Mobile screen */

@media (max-width: 670px) {
  header {
    position: fixed;
    height: 8rem;
  }
  footer {
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;
  }
  .name {
    font-size: 1.6rem;
    top: 1.4rem;
  }
  .symbol {
    width: 4rem;
  }
  .container {
    display: none;
  }

  .chat-bubble {
    position: fixed;
    bottom: 18rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    z-index: 99999999;
    background-color: lightgray;
    border-radius: 50%;
  }
  .searchBar {
    position: fixed;
    left: 2rem;
    top: 5rem;
  }

  .search {
    position: fixed;
    left: 5rem;
    top: 5rem;
    width: 150px;
  }

  .bi.bi-search {
    position: fixed;
    left: 230px;
    top: 5rem;
  }

  .bi.bi-cart3 {
    height: 2rem;
    width: 2rem;
    right: 5rem;
    top: 1.7rem;
  }
  .cartTotalQuantity {
    position: fixed;
    right: 5.3rem;
    top: 1rem;
  }
  .wishList {
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    right: 7rem;
    top: 1.9rem;
  }
  /* SIDE NAV FOR ROUTING */

  .homeOptions {
    width: 2rem;
    height: 2rem;
    right: 2rem;
    font-size: 1.4rem;
  }
  /*Chat box*/

  .bi.bi-chat-dots,
  .chatBot,
  .chatBox,
  .chatFooter {
    position: fixed;
    bottom: 16rem;
    right: 3rem;
    z-index: 99999;
  }
  .bi.bi-chat-dots {
    position: fixed;
    bottom: 20rem;
    right: 3rem;
    width: 3rem;
    height: 4rem;
  }
  .chatFooter {
    bottom: 0rem;
    right: 6rem;
    color: white;
  }

  .chatBot {
    position: fixed;
    right: 6rem;
    width: 10rem;
    border-radius: 1rem;
    outline: none;
    background-color: lightgray;
  }
  .chatBox {
    background-color: #333333;
    border: 1px solid black;
    bottom: 2rem;
    right: 5rem;
    height: 17rem;
    width: 13rem;
    border-radius: 2rem;
  }
  .chatOuput {
    color: white;
    position: relative;
    top: 5rem;
    left: 1rem;
    width: 12rem;
  }

  /* HOME page images */
  .Img {
    width: 100%;
    height: 20rem;
    top: 12rem;
  }

  .filters {
    top: 12.5rem;
  }

  /* NAVIGATION BAR */
  .dropdownIcon {
    display: list-item;
    list-style: none;
    position: fixed;
    color: white;
    top: 9.65rem;
    left: 1.5rem;
    z-index: 9999;
  }
  .dropdownIconResponsive {
    display: list-item;
    list-style: none;
    position: fixed;
    color: white;
    top: 9.65rem;
    left: 1.5rem;
    z-index: 9999;
  }

  .navigation {
    display: block;
    background-color: #333333;
    color: white;
    margin: 0;
    /* padding: 1rem; */
    overflow: hidden;
    min-height: 1rem;
    width: 100%;
    position: fixed;
    top: 9rem;
    z-index: 99999;
  }

  .navigationPills {
    display: block;
    list-style: none;
    /* padding: 1rem; */
    position: relative;
    top: 0.99rem;
    height: 1rem;
    left: 0rem;
    width: 7rem;
    z-index: 99999;
  }
  .navigationPillsResponsive {
    display: none;
  }
  .navigationPills:hover {
    background-color: none;
    border: none;
    padding: none;
  }
  .subNav {
    background-color: lightgray;
    color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 99999;
    top: 9rem;
    float: right;
    right: 0rem;
    width: 100%;
  }

  .subNavIcon {
    display: none;
  }
  /* DARK MODE SWICTHES */

  .outerSwitch {
    height: 1.6rem;
    width: 3.5rem;
    border-radius: 2rem;
    position: fixed;
    top: 8.7rem;
    right: 2rem;
    margin-top: 1rem;
    color: grey;
    outline: none;
  }

  /* PRODUCTS LISTING AT HOME */
  .productList {
    display: grid;
    grid-template-columns: 1fr;
  }

  .emptyHeart,
  .filledHeart {
    height: 2rem;
    width: 3rem;
    position: relative;
    top: 1rem;
    left: 0.5rem;
  }

  .f-assured {
    border: none;
    width: 3rem;
  }

  /* BOOK BATCHES*/
  .bookBatches,
  .img-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .bookBatchPills {
    width: 100%;
    margin: auto;
  }

  /* FOOTER*/
  .footer {
    /* display: list-item; */
    position: relative;
    height: 27rem;
    width: 100%;
    padding: 0;
    margin-top: 5rem;
  }

  .aboutUs {
    position: relative;
    left: 3rem;
  }
  .aboutUsList,
  .appItems {
    margin: 0.5rem;
  }

  .desktop-androidDownLink {
    width: 6rem;
    height: 2rem;
  }
  .keepInTouch {
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .bi-twitter,
  .bi-linkedin,
  .bi-github {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.5rem;
  }
  .fastDelivery,
  .return,
  .original {
    display: none;
  }

  .spanTxt {
    display: none;
  }
}
